@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-black: rgba(0, 0, 0, 0.815);
  --clr-accent: rgb(239, 140, 69);
  --clr-accent-hover: rgb(209, 112, 44);
  --clr-red: rgb(161, 29, 29);
  --clr-red-hover: rgb(129, 9, 9);
  --clr-blue: rgb(72, 72, 205);
  --clr-blue-hover: rgb(42, 42, 163);
  --clr-green: rgb(53, 123, 53);
  --clr-green-hover: rgb(40, 102, 40);
  --clr-orange: rgb(226, 129, 26);
  --clr-orange-hover: rgb(195, 107, 13);
  --clr-purple: rgb(146, 67, 146);
  --clr-purple-hover: rgb(115, 46, 115);
  --clr-pink: rgb(255, 144, 162);
  --clr-pink-hover: rgb(205, 105, 121);
}

::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  color: black;
  font-family: "Quicksand", sans-serif;
}

.settings-btn {
  position: relative;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;

  transition: transform 0.25s;
}

.settings-btn:hover {
  transform: rotate(90deg);
}

.settings {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.872);
  position: absolute;
  top: 3.5em;
  right: 2.5em;
  border-radius: 10px;
  padding: 2em;
  gap: 1em;
}

.btn {
  width: max-content;
  align-self: flex-start;

  background: rgb(218, 27, 27);
  color: white;

  padding: 0.75rem 1.5rem;

  border: none;
  border-radius: 0.25em;

  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  font-weight: 600;

  cursor: pointer;
  transition: background 0.1s;
}

.btn:hover {
  background: rgb(150, 20, 20);
}

.change-accent-btn {
  background: rgb(19, 105, 105);
}

.change-accent-btn:hover {
  background: rgb(5, 64, 64);
}

.color-change-overlay {
  z-index: 98;

  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.85;
}

.color-change-page {
  z-index: 99;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.806);
  color: white;
}

.color-block-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.colorblock {
  width: 200px;
  height: 200px;
  background: red;
  cursor: pointer;
}

.colorblock:nth-of-type(1) {
  background: var(--clr-red);
}

.colorblock:nth-of-type(1):hover {
  background: var(--clr-red-hover);
}

.colorblock:nth-of-type(2) {
  background: var(--clr-blue);
}

.colorblock:nth-of-type(2):hover {
  background: var(--clr-blue-hover);
}

.colorblock:nth-of-type(3) {
  background: var(--clr-green);
}

.colorblock:nth-of-type(3):hover {
  background: var(--clr-green-hover);
}

.colorblock:nth-of-type(4) {
  background: var(--clr-orange);
}

.colorblock:nth-of-type(4):hover {
  background: var(--clr-orange-hover);
}

.colorblock:nth-of-type(5) {
  background: var(--clr-purple);
}

.colorblock:nth-of-type(5):hover {
  background: var(--clr-purple-hover);
}

.colorblock:nth-of-type(6) {
  background: var(--clr-pink);
}

.colorblock:nth-of-type(6):hover {
  background: var(--clr-pink-hover);
}

header {
  width: 100%;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background: var(--clr-accent);
  color: white;
}

header h1 {
  font-weight: 500;
  font-size: 3em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.187);
  padding-bottom: 0.15em;
}

header p {
  font-size: 1.5em;
}

.sub-header {
  width: 100%;
  padding: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background: rgba(201, 201, 201, 0.265);
}

.sub-header input {
  font-size: 1.15em;
  padding: 0.25em;
}

.sub-header select {
  font-size: 1.15em;
  padding: 0.25em;

  cursor: pointer;
}

/* NOTES SECTION */

.notes-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notes-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2em;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.note {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 2em;
  gap: 0.5em;

  background: rgb(236, 236, 236);
  border-radius: 0.5em;

  cursor: pointer;
  transition: background 0.1s;
}

.note h4 {
  font-size: 1.5em;
}

.note p {
  font-style: italic;
  font-size: 1em;
}

.note:hover {
  background: rgb(225, 225, 225);
}

.notes-section button {
  width: max-content;
  align-self: flex-start;

  background: var(--clr-accent);
  color: white;

  padding: 0.75rem 1.5rem;

  border: none;
  border-radius: 0.25em;

  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: 600;

  cursor: pointer;
  transition: background 0.1s;
}

.notes-section button:hover {
  background: var(--clr-accent-hover);
}

/* CREATE SECTION */

.creation-section {
  display: flex;
  display: none;

  width: 100%;
  justify-content: center;
}

.creation-container {
}

.creation-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.creation-form h2 {
  font-size: 2em;
  align-self: center;
  font-weight: 500;
}

.creation-container .creation-form-title-input {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: 500;

  padding: 0.5em;
}

.creation-container .creation-form-desc-input {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  padding: 0.5em;
}

.creation-buttons {
  display: flex;
  justify-content: space-between;
}

.creation-form .title-alert {
  display: none;
  text-align: center;
  color: red;
  margin: 0 auto;
  font-size: 1.5em;
}

.back {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  padding: 0.5rem 1.25rem;

  border: none;
  background: var(--clr-accent);
  color: white;

  cursor: pointer;
  transition: background 0.1s;
}

.back:hover {
  background: var(--clr-accent-hover);
}

.submit {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  padding: 0.5rem 1.25rem;

  border: none;
  background: var(--clr-accent);
  color: white;

  cursor: pointer;
  transition: background 0.1s;
}

.submit:hover {
  background: var(--clr-accent-hover);
}

/* MODAL */

.overlay {
  z-index: 98;

  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.85;
}

.modal {
  z-index: 99;
  display: none;
  flex-direction: column;
  gap: 2em;
  padding: 4em 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 1em;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid var(--clr-accent-hover);
  text-align: center;
  margin: 0 auto;
  font-size: 2.25em;
  padding-bottom: 0.5em;
}

.modal-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  overflow: auto;
  padding-right: 0.5em;
  font-size: 2em;
  line-height: 1.5em;
  padding: 1em;
}

.x {
  background-image: url(./icons/trash-thicklines.png);
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2em;
  font-weight: 600;
  position: absolute;
  top: 0.45em;
  right: 0.75em;
  cursor: pointer;

  transition: transform 0.2s;
}

.x:hover {
  transform: scale(1.1);
}

.edit {
  position: absolute;
  background-image: url(./icons/edit-black.png);
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2em;
  font-weight: 500;
  top: 0.45em;
  left: 0.75em;
  cursor: pointer;

  transition: transform 0.15s;
}

.edit:hover {
  transform: scale(1.1);
}

.modal-back-btn {
  font-family: "Quicksand", sans-serif;
}

.mobile-settings {
  position: fixed;
  transform: translateX(100vw);
}

@media (max-width: 500px) {
  .mobile-settings {
    transform: translateX(100%);
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36.5%;
    gap: 1em;
    background: var(--clr-accent);
    padding: 1.5em;

    transition: transform 0.25s;
  }
  
  .mobile-btn {
    background: transparent;
    border: 2px solid white;
    margin: 0 auto;
    font-size: 1em;
  }
  
  .mobile-change-accent-btn {
    margin-top: 3em;
  }
  
  .mobile-change-accent-btn:hover {
    background: none;
  }
  
  .mobile-delete-all-btn {
    background: red;
  }
  
  .mobile-delete-all-btn:hover {
    background: rgb(187, 0, 0);
  }
  
  .modal {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    padding: 8em 0em;
  }
  
  .modal-back-btn {
    font-family: "Quicksand", sans-serif;
    color: white;
    background: var(--clr-accent);
    padding: 1rem 2rem;
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    border-radius: 0.25em;
    margin-top: auto;
  }
  
  .creation-form {
    margin-top: 4em;
    transform: scale(0.9);
  }
  
  .edit,
  .x {
    margin-top: 2.75em;
  }
}
